{
	"token": "",
	"database": {
		"username": "",
		"password": ""
	},
	"story": {
		"enabled": false,
		"channel": "",
		"eulaChannel": ""
	},
	"starboard": {
		"enabled": false,
		"channel": "",
		"threshold": 1,
		"emojis": []
	},
	"suggestions": {
		"enabled": false,
		"channel": "",
		"upvoteEmoji": "",
		"downvoteEmoji": ""
	}
}
